html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  font-size: 62.5%;
  font-family: Helvetica, Ariel, sans-serif;
  background: #f9f9f9;
  min-width: 320px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

form {
  display: block;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  height: 100%; }
  @media (min-width: 900px) {
    form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 1200px;
      -webkit-box-pack: stretch;
          -ms-flex-pack: stretch;
              justify-content: stretch; } }

fieldset {
  padding: 40px 10px 10px 10px;
  position: relative; }
  @media (min-width: 900px) {
    fieldset {
      width: 33.33333%; } }

fieldset:nth-child(2) {
  background: #efefef; }

fieldset:nth-child(3) {
  background: #dfdfdf; }

fieldset legend {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 3em;
  font-weight: 800; }

fieldset img {
  width: 100%;
  margin-bottom: 10px; }

p.product_price {
  display: block;
  font-size: 2.5em;
  font-weight: 800;
  text-align: right; }

label {
  font-size: 2em;
  font-weight: 800;
  color: #222;
  display: block;
  margin-top: 10px;
  margin-bottom: 5px; }

#size_group,
#color_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 5px 0; }

#size_group li {
  padding: 12px 0;
  text-align: center;
  font-size: 2.5em;
  width: 30%;
  font-weight: 800;
  background: #C4C4C4;
  border: 2px solid #c4c4c4; }

#color_group li {
  height: 40px;
  width: 20%; }

#color_group li:nth-child(1) {
  background: #27AE61; }

#color_group li:nth-child(2) {
  background: #EB5757; }

#color_group li:nth-child(3) {
  background: #4F4F4F; }

#color_group li:nth-child(4) {
  background: #2C9CDB; }

#size_group li[aria-checked="true"],
#color_group li[aria-checked="true"] {
  border: 2px solid #000; }

ul li:focus {
  outline: none; }

input {
  width: 100%;
  font-size: 2em;
  font-weight: 800;
  background: #ddd;
  padding: 10px;
  border: 1px solid #222; }

div.ig_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

div.g1 div.input_group {
  width: 49%;
  display: block; }

div.g2 div.input_group {
  width: 32%;
  display: block; }

div.arrow {
  position: relative; }

div.arrow:after {
  content: "v";
  font-size: 2em;
  padding: 7px 7px;
  font-weight: 800;
  border: 1px solid #999;
  color: #999;
  position: absolute;
  right: 6px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

select {
  width: 100%;
  display: block;
  font-size: 2em;
  font-weight: 800;
  background: #ddd;
  padding: 10px;
  border: 1px solid #222;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

p.error {
  background: #EB5757;
  padding: 15px 10px;
  margin: 10px 0;
  font-size: 2em;
  font-weight: 800;
  color: #fff;
  display: none;
  line-height: 200%; }

#product_list {
  font-size: 2.5em;
  margin: 0 0 30px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc; }

#product_list li span {
  float: right; }

p.deets {
  font-size: .8em;
  padding-left: 10px;
  line-height: 125%; }

p.shipping {
  font-size: 2.5em;
  color: #777; }

p.shipping span {
  float: right; }

p.total {
  font-size: 2.5em;
  font-weight: 800;
  margin: 5px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc; }

p.total span {
  float: right; }

div.shipping_label {
  font-size: 2em; }

div.shipping_label span {
  display: block;
  padding: 5px 0;
  font-weight: 800;
  margin-bottom: 20px; }

input[type=submit] {
  border: none;
  background: #27AE61;
  color: #fff;
  font-weight: 400; }
