form{
	display: block;
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
	height: 100%;
	@include mq(medium){
		display: flex;
		max-width: 1200px;
		justify-content: stretch;
	}
}
fieldset{
	padding: 40px 10px 10px 10px;
	position: relative;
	@include mq(medium){
		width: 33.33333%;
	}
}
fieldset:nth-child(2){
	background: #efefef;
}
fieldset:nth-child(3){
	background: #dfdfdf;
}
fieldset legend{
	position: absolute;
	top: 0; left: 0;
	padding: 10px;
	font-size: 3em;
	font-weight: 800;
}
fieldset img{
	width: 100%;
	margin-bottom: 10px;
}
p.product_price{
	display: block;
	font-size: 2.5em;
	font-weight: 800;
	text-align: right;
}
label{
	font-size: 2em;
	font-weight: 800;
	color: #222;
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
}
#size_group,
#color_group{
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	padding: 5px 0;	
}
#size_group li{
	padding: 12px 0;
	text-align: center;
	font-size: 2.5em;
	width: 30%;
	font-weight: 800;
	background: #C4C4C4;
	border: 2px solid #c4c4c4;
}
#color_group li{
	height: 40px;
	width: 20%;
}
#color_group li:nth-child(1){
	background: #27AE61;
}
#color_group li:nth-child(2){
	background: #EB5757;
}
#color_group li:nth-child(3){
	background: #4F4F4F;
}
#color_group li:nth-child(4){
	background: #2C9CDB;
}
#size_group li[aria-checked="true"],
#color_group li[aria-checked="true"]{
	border: 2px solid #000;
}
ul li:focus{
	outline: none;
}
input{
	width: 100%;
	font-size: 2em;
	font-weight: 800;
	background: #ddd;
	padding: 10px;
	border: 1px solid #222 ;
}
div.ig_box{
	display: flex;
	justify-content: space-between;
}
div.g1 div.input_group{
	width: 49%;
	display: block;
}
div.g2 div.input_group{
	width: 32%;
	display: block;
}
div.arrow{
	position: relative;
}
div.arrow:after{
	content: "v";
	font-size: 2em;
	padding: 7px 7px;
	font-weight: 800;
	border: 1px solid #999;
	color: #999;
	position: absolute;
	right: 6px;
	top: 50%;
	transform: translateY(-50%);
}
select{
	width: 100%;
	display: block;
	font-size: 2em;
	font-weight: 800;
	background: #ddd;
	padding: 10px;
	border: 1px solid #222;
	border-radius: 0;
	appearance: none;
}
p.error{
	background: #EB5757;
	padding: 15px 10px;
	margin: 10px 0;
	font-size: 2em;
	font-weight: 800;
	color: #fff;
	display: none;
	line-height: 200%;
}
#product_list{
	font-size: 2.5em;
	margin: 0 0 30px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
#product_list li span{
	float: right;
}
p.deets{
	font-size: .8em;
	padding-left: 10px;
	line-height: 125%;
}
p.shipping{
	font-size: 2.5em;
	color: #777;
}
p.shipping span{
	float: right;
}
p.total{
	font-size: 2.5em;
	font-weight: 800;
	margin: 5px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
p.total span{
	float: right;
}
div.shipping_label{
	font-size: 2em;
}
div.shipping_label span{
	display: block;
	padding: 5px 0;
	font-weight: 800;
	margin-bottom: 20px;
}
#sl{
	margin-bottom: 20px;
}
input[type=submit]{
	border: none;
	background: #27AE61;
	color: #fff;
	font-weight: 400;
}
div.complete{
	display: none;
}
div.complete fieldset{
	margin: 0 auto;
	background: transparent;
	max-width: 420px;
	min-width: 320px;
}
div.complete h1{
	font-size: 5em;
	margin-top: 100px;
	margin-bottom: 20px;
	font-weight: 800;
	text-align: center;
	@include mq(small){
		font-size: 5.5rem;
	}
}
div.complete span.check{
	font-weight: 800;
	font-size: 50px;
	display: block;
	width: 100px;
	height: 100px;
	line-height: 80px;
	text-align: center;
	border-radius: 50%;
	border: 10px solid #4990E2;
	color: #4990E2;
	margin: 0 auto;
}
